<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint
        address="http://localhost:61529/FulfillmentService.svc"
        binding="BasicHTTPBinding"
        contract="PharmaNet.Fulfillment.Contract.IFulfillmentService"/>
    </client>
  </system.serviceModel>
</configuration>